{{define "upload_image"}}
{{template "header"}}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="add-image" class="add-image">
            <form method="POST" action="/images/upload" enctype="multipart/form-data">
				<div class="form-group align-center">
                    <label for="image_url" class="form-control-label">Image URL</label>
					<input id="image_url" class="form-control align-center" name="image_url" type="text" placeholder="http://imgur.com/foobar.gif"/>
                </div>

				<div class="form-group align-center">
					<label class="form-control-label">- or -</label>
				</div>

                <div class="form-group align-center">
                    <label for="image_file" class="form-control-label">Image File</label>
					<input id="image_file" class="form-control align-center" name="image_file" type="file"/>
                </div>

                <div class="form-group align-center">
                        <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "footer"}}
{{end}}