<giffy-header/>
<div class="row page-body">
	<div class="col-md-6 col-md-offset-3">
		<div class="align-center">
			<img ng-src="{{image.s3_read_url}}"/>
		</div>
		<div class="page-header align-center">
			<h2>What is `giffy`?</h2>
		</div>
		<div>Giffy is a gif search service where you, the user, get to vote on which tags apply to what images.</div>
		<div class="page-header align-center">
			<h2>Why make this?</h2>
		</div>
		<div>Because other gif search services left a lot to be desired.</div>
		<div class="page-header align-center">
			<h2>Help! The results suck!</h2>
		</div>
		<div>Then you failed, vote on tags or add new ones and make it better.</div>
	</div>
</div>
<giffy-footer/>