<giffy-header/>

<div id="giffy-home" class="row page-body">
	<div class="col-md-12">
		<div class="row">
			<div id="giffy-home-images"" class="col-md-12 align-center">
				<giffy-image class="image-result" image="image"  ng-repeat="image in images"></giffy-image>
			</div>
			<div id="giffy-home-tags"" class="col-md-10 col-md-offset-1 align-center">
				<a class="label label-primary" href="/#/tag/{{tag.tag_value}}" ng-repeat="tag in tags">#{{tag.tag_value}}</a>
			</div>
		</div>
	</div>
</div>

<giffy-footer/>