<giffy-header/>

<div id="giffy-image">
	<div class="row image">
		<div class="col-md-4 col-md-offset-4 align-center">
			<img class="giffy-image-detail" ng-src="{{image.s3_read_url}}" alt="{{image.display_name}}"/>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 align-center">
			<div class="page-header">
				<h1>Tags</h1>
			</div>
			<ul class="image-tags">
				<li ng-repeat="tag in tags">
					<vote-button type="'tag'" current-user="currentUser" link="linkLookup[tag.uuid]" user-vote="userVoteLookup[tag.uuid]" object="tag"></vote-button>
				</li>
				<li ng-if="currentUser.is_logged_in && !currentUser.is_banned">
					<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#add-tag-modal">+</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="row image-details">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
			<div class="row" ng-if="currentUser.is_moderator">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Status:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left">
					<span class="label label-danger" ng-if="image.content_rating == 5">NR</span>
					<span class="label label-danger" ng-if="image.content_rating == 4">R</span>
					<span class="label label-info" ng-if="image.content_rating == 3">PG-13</span>
					<span class="label label-info" ng-if="image.content_rating == 2">PG</span>
					<span class="label label-default" ng-if="image.content_rating == 1">G</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Slack Command:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left"><a id="slack-command-link" href="#" title="Copy Code To Clipboard"><code>{{slackCommand}}</code></a></div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Created:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left">{{image.created_utc | date:short}}</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Dimensions:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left">{{image.width}}x{{image.height}} px</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">File Size:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left">{{formatFileSize(image.file_size)}}</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Added By:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left"><user-detail user="image.created_by"></user-detail></div>
			</div>
			<div class="row" ng-if="currentUser.is_moderator || currentUser.user_uuid == image.created_by.uuid">
				<div class="col-sm-6 col-md-6 col-lg-5 align-right">Moderator Controls:</div>
				<div class="col-sm-6 col-md-6 col-lg-7 align-left">
					<button class="btn btn-default btn-xs" ng-click="censorImage()" ng-if="image.content_rating == 1">Censor Image</button>
					<button class="btn btn-default btn-xs" ng-click="uncensorImage()" ng-if="image.content_rating == 5">Uncensor Image</button>
					<button class="btn btn-danger btn-xs" ng-click="deleteImage()">Delete Image</button>
				</div>
			</div>
		</div>
	</div>

	<div id="add-tag-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add Tag(s)</h4>
				</div>
				<div class="modal-body">
					<div id="add-tag" class="add-tag">
						<!-- put validation here etc. -->
						<form ng-submit="addTags()" ng-enter="addTags()">
							<div class="form-group row">
								<div class="col-md-10 col-md-offset-1">
									<tags-input id="tagsInput" tabindex="0" ng-model="newTags" spellcheck="false" replace-spaces-with-dashes="false" placeholder="lolz" on-tag-added="tagAddedHandler()">
										<auto-complete source="searchTags($query)" select-first-match="false"></auto-complete>
									</tags-input>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" tabindex="11">Close</button>
					<button type="button" class="btn btn-primary" ng-click="addTags()" tabindex="10">Add Tag(s)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<giffy-footer/>