<giffy-header/>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
		<div class="page-header">
			<h1>Search History</h1>
		</div>
		<div class="search-history-chart" style="text-align:center">
			<img src="/chart/searches?height=128" style="min-width:100%; max-width:100%"/>
		</div>
		<table id="search-history" class="table table-responsive">
			<thead>
				<tr>
					<th>Time</th>
					<th>Source</th>
					<th>Team</th>
					<th>Channel</th>
					<th>User</th>
					<th>Search Query</th>
					<th>Did Find Match?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entry in history">
					<td>{{entry.timestamp_utc | date:short}}</td>
					<td>{{entry.source}}</td>
					<td>{{entry.source_team_name}}</td>
					<td>{{entry.source_channel_name}}</td>
					<td>{{entry.source_user_name}}</td>
					<td>{{entry.search_query}}</td>
					<td ng-if="!!entry.image"><a href="/image/{{entry.image.uuid}}">{{entry.did_find_match}}</a></td>
					<td ng-if="!!!entry.image">{{entry.did_find_match}}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 align-center">
				<ul class="pager">
					<li><a ng-class="{disabled: !hasPreviousPage()}" ng-click="previousPage()">Previous</a></li>
					<li><a ng-class="{disabled: !hasNextPage()}" ng-click="nextPage()">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<giffy-footer/>