<footer id="giffy-footer" class="giffy-footer">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 align-center">
			<div class="footer-section">
				Giffy was created by <a href="http://twitter.com/wcharczuk">@willcharczuk</a>
			</div>
			<div class="footer-section">|</div>
			<div class="footer-section">
				<a href="/#/">Home</a>
			</div>
			<div class="footer-section">
				<a href="/#/about">About</a>
			</div>
			<div class="footer-section" ng-if="currentUser.is_admin">
				<a href="/#/users.search">Users</a>
			</div>
			<div class="footer-section">
				<a href="/#/moderation.log">Moderation Log</a>
			</div>
			<div class="footer-section">
				<a href="/#/stats">Stats</a>
			</div>
			<div class="footer-section">
				<a href="https://slack.com/oauth/authorize?scope=commands&client_id=12971878642.28451191280"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
			</div>
		</div>
	</div>
</footer>