<div id="giffy-header" class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="row">
			<div id="giffy-header-logo-cell" class="header-cell col-xs-12 col-sm-3 col-md-3">
				<div id="giffy-header-logo">
					<a href="/"><img id="giffy-logo" src="/static/images/logo.png"/></a>
				</div>
			</div>
			<div id="giffy-header-search-cell" class="header-cell col-xs-12 col-sm-6 col-md-6">
				<search-box search-query="searchQuery"/>
			</div>
			<div id="giffy-header-add-image-cell" class="header-cell col-xs-12 col-sm-3 col-md-3">
				<a id="#giffy-header-add-image" class="btn btn-primary" ng-if="currentUser.is_moderator" href="/add_image" >
					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Add Image
				</a>
			</div>
		</div>
	</div>
</div>
<div id="giffy-sub-header" class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		<user-detail user="currentUser" ng-if="currentUser.is_logged_in"></user-detail>
		<a id="header-login" class="btn btn-primary btn-sm" href="{{currentUser.facebook_login_url}}" ng-if="!currentUser.is_logged_in">Login with Facebook</a>
		<a id="header-login" class="btn btn-danger btn-sm" href="{{currentUser.google_login_url}}" ng-if="!currentUser.is_logged_in">Login with Google</a>
		<a id="header-logout" class="btn btn-default btn-sm" ng-if="currentUser.is_logged_in" href="/logout">Log Out</a>
	</div>
</div>