body {
    font-family: "Avenir Next", sans-serif;
    padding:10px;
}

#giffy-header {
    margin-top:25px;
    margin-bottom:10px;
}

#giffy-header button {
    margin-left: 3px;
}

#giffy-header-name a {
    text-decoration:none;
}
#giffy-header-name a:hover {
    text-decoration:none;
}

#giffy-images {
    margin-top:25px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.giffy-image-wrapper, .giffy-image {
    display: inline-block;
}

.giffy-image-element {
    max-height: 200px;
}

.giffy-tags {
    padding-left: 0;
    margin-top: 25px;
}

.giffy-tags li {
    list-style: none;
    display:inline-block;
}

.tag {
    display: inline-block;  
    
    margin: 5px;
    
    background-color: rgb(91,192,222);
    border-color: rgb(91,192,222);
    border-radius: 4px;
}

.tag-part {
    display:inline-block;
    margin:0;
    padding:6px;
    
    color: #fff;
    font-size: 16px;
    
    line-height: 24px;

    text-align: center;
    vertical-align: middle;   
    
    vertical-align: middle;
    line-height: 24px;
}

.tag-vote-count {
    padding-left:13px;
    padding-right: 9px;
    border-right: 1px solid rgb(80, 181, 211);
}

.tag-detail-link {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 16px;
    text-transform: lowercase;
}

.tag-detail-link a {
    color: #fff;
}

.tag-detail-link a:hover {
    text-decoration: none;
}

.tag-vote {
    padding: 0;
    cursor: pointer;
    border-right: 1px solid rgb(80, 181, 211);
}

.tag-upvote, .tag-downvote {
    padding: 0;
    line-height: 12px;
}

.tag-vote .voted {
    background-color: rgb(80, 181, 211);
}

.tag-vote .can-vote:hover {
    background-color: rgb(80, 181, 211);
}

.tag-vote .can-vote:active {
    background-color: rgb(70, 171, 201);
}

.tag-upvote {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    border-bottom:  1px solid rgb(80, 181, 211);
}
.tag-downvote {
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
}

.tag-remove {
    cursor: pointer;
    border-left: 1px solid rgb(80, 181, 211);
}

.tag-remove:hover {
    background-color: rgb(80, 181, 211);
}

.tag-remove:active {
    background-color: rgb(70, 171, 201);
}