body {
    font-family: "Avenir Next", sans-serif;
    padding:10px;
}

#giffy-header {
    margin-top:25px;
    margin-bottom:10px;
}

#giffy-header button {
    margin-left: 3px;
}

#giffy-images {
    margin-top:25px;
}

.tag {
    margin-left: 3px;
    margin-right: 3px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}