body {
    font-family: "Avenir Next", sans-serif;
    padding:10px;
}

#wrapper {
    padding-top: 110px;
    padding-bottom:60px;
}

.btn {
    border-radius : 0;
}

.btn .glyphicon {
    padding-top:2px;
    padding-right: 6px;
}

.label {
    border-radius : 0;
}

.form-control {
    border-radius: 0;
}

/* begin helper classes */

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* end helper classes */

#giffy-header {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    height: 90px;
    
    z-index: 10;
    
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

#giffy-sub-header {
    position: fixed;
    top: 80px; 
    left: 0;
    right: 0;
    height: 40px;
    line-height: 35px;
    
    z-index: 10;
    
    background: #f7f8fa;
    border-bottom: 1px solid #eeeff2;
}

#giffy-header img {
    background: #fff;
}

#giffy-header .row {
    height: 80px;
    line-height: 80px;
}

#giffy-logo {
    height: 64px;
    width: 64px;
}

#giffy-header button {
    margin-left: 3px;
}

#giffy-header .user-detail {
    font-size: 18px;
}

#giffy-header .user-detail a {
    color: #fff;
}

#header-add-image {
    font-size: 18px;
}

#giffy-footer {
    background-color: #fff;
    position:fixed;
    bottom:0;
    width: 100%;
    height: 60px;
    
    font-size: 12px;
    line-height: 50px;
}

#giffy-header-name {
    font-size: 35px;
}

#giffy-header-name a {
    text-decoration:none;
}

#giffy-header-name a:hover {
    text-decoration:none;
}

#giffy-home-results {
    margin-top:10px;
    margin-bottom:10px;
    min-height:250px;
}

#giffy-search-bar {
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 0;
}

#giffy-footer .footer-section {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}


giffy-image {
    /*display:inline-block;*/
}


/* begin vote-button */

.vote-button {
    display: inline-block;  
    
    margin: 5px;
    
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
}

.vote-button .vote-button-part {
    font-size:18px;
    
    display:inline-block;
    margin:0;
    padding:6px;
    
    color: #fff;
    
    line-height: 24px;

    text-align: center;
    vertical-align: middle;   
    
    vertical-align: middle;
    line-height: 24px;
}

.vote-button .vote-count {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left:10px;
    padding-right: 9px;
    border-right: 1px solid #2e6da4;
    background-color: #fff;
    color: black;
}

.vote-button .vote-controls {
    padding:0;
}

.vote-button .vote-arrow  {
    padding: 0;
    cursor: pointer;
    border-right: 1px solid #2e6da4
}

.vote-button .vote-arrow {
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.vote-button .vote-arrow.voted {
    background-color: #2e6da4
}

.vote-button .vote-arrow:hover {
    background-color: #2e6da4
}

.vote-button .vote-arrow:active {
    background-color: #286090
}

.vote-button .vote-upvote {
    padding-top: 4px;
    border-bottom:  1px solid #2e6da4;
}

.vote-button .vote-downvote {
    padding-bottom: 5px;
}

.vote-button .vote-detail-link {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 16px;
    text-transform: lowercase;
}

.vote-button .vote-detail-link a {
    color: #fff;
}

.vote-button .vote-detail-link a:hover {
    text-decoration: none;
}

.vote-button .vote-remove {
    cursor: pointer;
    border-left: 1px solid #2e6da4
}

.vote-button .vote-remove:hover {
    background-color: #2e6da4
}

.vote-button .vote-remove:active {
    background-color: #286090
}

/* end vote-button */

/* begin homepage */


/* end homepage */

/* begin image page */

#giffy-image {
    margin-top: 50px;
}

#giffy-image > .row {
    margin-top: 10px;
}

#giffy-image .image img {
    width:100%;
}

#giffy-image .image-tags li {
    list-style: none;
    display:inline-block; 
}

/* end image page */

/* begin image-element */

.image-element {
    display:inline-block !important;

    position: relative;
    display:block;

    width:33%;
    height:250px;

    overflow: hidden;
    
    text-align: left;
}

.image-element .image-element-img {
    position:absolute;
    top: 0
    left: 0;

    min-height: 250px;
    min-width: 100%;
}

.image-element-link {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.image-element .image-tags {
    position: absolute;
    bottom:0;
    left:0;
    background: rgba(80,80,80,0.2);
    width:100%;

    height: 30px;
    line-height: 25px;

    text-align:center;
}

.image-element .image-info {
    display:none;
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height: 30px;
    line-height: 30px;

    font-size:12px;

    background: rgba(80,80,80,0.2);
    text-align:center;
}

.image-element:hover .image-info {
    display: block;
}

.image-element .image-info .user-detail a{
    color: #FFF;
}

.image-tags .label {
    margin-left: 3px;
    margin-right: 3px;
}

/* end image-element */

/* begin user-detail */

.user-detail-badges {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.user-detail-badges .label {
    font-size: 12px;
}

/* end user-detail */

/* begin tag page */

.tag-value-row {
    margin-top:25px;
    margin-bottom:25px;
}

.tag-value {
    font-size:30px;
}

.image-for-tag img {
    max-height: 300px;
}

/* end tag page */

/* begin user page */

#giffy-user .info-row {
    margin-top:5px;
    margin-bottom:5px;
}

/* end user page */


/* begin image upload page */

#image-upload-frame {
    width: 100%;
    height: 350px;
}

/* end image upload page */

/* begin image page */

.image-details .row:first-child {
    margin-top:25px;   
}

.image-details .row:last-child {
    margin-bottom:25px;   
}

.image-details .row {
    margin-top: 10px;
}

/* end image upload page */